<h2><%= @user.email %></h2>
<div>
  <% if current_user == @user %>
    <%= link_to "View your followers", "#" %>
  <% elsif current_user.is_following? @user %>
    <%= button_to "Unfollow", unfollow_user_path(@user), method: :delete %>
  <% else %>
    <%= button_to "Follow", follow_user_path(@user) %>
  <% end %>
</div>
<%= render @images %>
