<h2 class="gallery"><%= @gallery.name %></h2>
<% if @gallery.user == current_user %>
  <nav>
    <ul>
      <li><%= link_to "Edit", edit_gallery_path(@gallery) %></li>
      <li><%= link_to "Delete", @gallery, method: :delete %></li>
      <li><%= link_to "New image", new_gallery_image_path(@gallery) %></li>
    </ul>
  </nav>
<% end %>
<% if signed_in? %>
  <% if current_user.likes? @gallery %>
    <%= button_to "Dislike gallery", dislike_gallery_path(@gallery), method: :delete %>
  <% else %>
    <%= button_to "Like gallery", like_gallery_path(@gallery) %>
  <% end %>
<% end %>
<div class="gallery-images">
  <%= render @gallery.images %>
</div>
