<%= form_for @image do |form| %>
  <%= render "error_messages", target: @image %>

  <div>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= form.text_field :description, placeholder: "Description" %>
  </div>
  <div>
    <%= form.text_field :url, placeholder: "URL" %>
  </div>
  <div>
    <%= form.collection_check_boxes :group_ids, @groups, :id, :name %>
  </div>
  <div>
    <%= form.submit "Update Image" %>
  </div>

<% end %>
<%= link_to "Cancel Edit", @image.gallery %>
