<h2>New image</h2>
<%= form_for [@gallery, @image] do |form| %>
  <%= render "error_messages", target: @image %>

  <div>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= form.text_field :description, placeholder: "Description" %><br>
  </div>
  <div>
    <%= form.text_field :url, placeholder: "URL" %><br>
  </div>
  <div>
    <%= form.submit "Create Image" %>
  </div>
<% end %>

