<h2>New image</h2>
<%= form_for [@gallery, @image] do |form| %>
  <% if @image.errors.any? %>
    <p>Could not save for the following reasons:</p>
    <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div>
    <%= form.text_field :name, placeholder: "Name" %>
  </div>
  <div>
    <%= form.text_field :description, placeholder: "Description" %><br>
  </div>
  <div>
    <%= form.text_field :url, placeholder: "URL" %><br>
  </div>
  <div>
    <%= form.submit "Create Image" %>
  </div>
<% end %>

