<%= content_tag :h2, @image.name %>
<%= content_tag :h3, @image.description %>

<% if @image.user == current_user %>
  <div class="button-group">
    <button><%= link_to "Edit image", edit_image_path(@image) %></button>
    <button><%= link_to "Delete image", @image, method: :delete,
    confirm: "Are you sure you want to delete this image?" %></button>
  </div>
<% end %>

<%= image_tag(@image.url, width: "500") %>
<p>Likes: <%= @image.likes.count %></p>
<p>
  Added by: <%= link_to @image.user.email, @image.user %> 
  <%= time_ago_in_words(@image.created_at) %> ago
</p>

<% if signed_in? %>
  <div>
    <% if current_user.likes? @image %>
      <%= button_to "Dislike image", dislike_image_path(@image), method: :delete %>
    <% else %>
      <%= button_to "Like image", like_image_path(@image) %>
    <% end %>
  </div>
  <%= form_for [@image, @comment] do |form| %>
    <%= form.text_area :body %>
    <%= form.submit "Comment" %>
  <% end %>
<% else %>
  <div>
    <%= link_to "Sign in", sign_in_path %> to comment.
  </div>
<% end %>

<%= render @comments %>
<%= paginate @comments %>

