<%= link_to "Back to the #{@image.gallery.name} gallery", @image.gallery %>
<%= content_tag :h2, @image.name %>
<%= content_tag :h3, @image.description %>
<p>
  <% if @image.user == current_user %>
    <%= link_to "Edit image", edit_image_path(@image) %>
    <%= link_to "Delete image", @image, method: :delete, 
        confirm: "Are you sure you want to delete this image?"
    %>
  <% end %>
</p>
<%= image_tag(@image.url, width: "500") %>
<% if signed_in? %>
  <%= form_for [@image, @comment] do |form| %>
    <%= form.text_area :body %>
    <%= form.submit "Comment" %>
  <% end %>
<% else %>
  <div>
    <%= link_to "Sign in", sign_in_path %> to comment.
  </div>
<% end %>
<% if @comments %>
  <h2>Comments:</h2>
  <% @comments.each do |comment| %>
    <div>
      <%= comment.user.email %>  <%= time_ago_in_words(comment.created_at) %> ago
    </div>
    <div>
      <%= comment.body %>
    </div>
  <% end %>
<% end %>

